<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" />
    <title>Note Edit</title>
</head>
<body>
    <h1>Editare Note</h1>
    <form action="/edit/{{ note[0] }}" method="post">
        <textarea name="content" required>{{ note[1] }}</textarea>
        <button type="submit">Update</button>
    </form>
</body>
</html>
