body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.image img {
    max-width: 300px;
    height: auto;
}

.message-box {
    border-radius: 10px;
    background-color: #f9f9f9;
    height: 85vh;
    display: flex;
    flex-direction: column;
    width: 85vw;
    align-items: stretch;
    overflow: hidden;
}

h2 {
    text-align: center;
    color: #333;
}

.messages {
    overflow-y: scroll;
    flex: 1;
    padding: 10px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.muted {
    font-size: 12px;
    color: #777;
}

.inputs {
    padding: 10px;
    display: flex;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 10px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    background-color: #c51926;
    color: #f4f4f4;
}

.disconnect-btn-container {
    text-align: right;
    margin-bottom: 10px;
}

#send-btn {
    background-color: #007bff;
}

#message {
    flex: 1;
}

.member-count {
    margin-right: 10px;
    align-self: flex-end;
}

.member-count h1 {
    font-size: 14px;
    margin-bottom: 1; 
}